@import (less) "/bower_components/normalize.css/normalize.css";
@import "mixins.less";
@import "flex.less";

body {
    font: 12px/normal Arial, sans-serif;
    background: #eee;
}

input, button {
    vertical-align: middle;
}

header {
    padding: 2em;
    font-size: 1em;
    line-height: 2em;
    border-bottom: 1px solid #333;
    .gradient(#444, #404040);
    .drop-shadow();
    .flex-display();
    .flex-flow(row nowrap);

    h1 {
        .flex(1 0 auto);
        .align-self(flex-start);
        margin: 0;
        color: #fff;
        font-size: inherit;
        line-height: inherit;
        text-transform: uppercase;
        .text-shadow();
    }

    menu {
        .flex(1 1 auto);
        .align-self(flex-end);
        margin: 0;
        padding: 0;
        color: #fff;
        text-align: right;
    }

    button {
        padding: 0 0.5em;
        margin: 0;
        font: inherit;
        font-weight: normal;
        color: #aaa;
        line-height: 2em;
        vertical-align: middle;
        background: #444;

        border: 1px solid rgba(0, 0, 0, 0.2);
        border-bottom-color: rgba(255, 255, 255, 0.05);

        outline: none;

        @shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.05), inset 0px -1px 1px rgba(0, 0, 0, 0.2);
        .box-shadow(@shadow);

        @text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
        .text-shadow(@text-shadow);

        &:focus {
            outline: none;
        }

        &::-moz-focus-inner {
            border: none;
            outline: none;
        }

        &:hover {
            background: lighten(#444, 1%);
        }

        &:active {
            color: #888;
            background: #444;
            @shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1), inset 0px -1px 1px rgba(0, 0, 0, 0.2);
            .box-shadow(@shadow);
        }
    }
}

main {
    padding: 2em;
}

#game {
    width: 800px;
    height: 600px;
    margin: 0 auto;
    border: 1px solid #ccc;
    background: #fff;
}
